<nav class="p-4 md:py-4 md:px-6 flex items-center justify-between bg-sky-500 text-white">
  <h1 class="cursor-pointer text-lg md:text-xl font-semibold tracking-wide">Construction-Pro</h1>

  <div class="md:hidden flex items-center" (click)="toggleMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
    </svg>
  </div>

  <div class="hidden md:flex items-center md:gap-6 gap-12">
    <a routerLink="/" class="cursor-pointer font-medium text-md xl:text-xl tracking-wide">Locations</a>
    <a routerLink="/workscope" class="cursor-pointer font-medium text-md xl:text-lg tracking-wide">Workscopes</a>
    <a routerLink="/logs" class="cursor-pointer font-medium text-md xl:text-lg tracking-wide">Logs</a>
  </div>

  <div *ngIf="isMenuOpen" class="md:hidden absolute top-16 left-0 w-full bg-sky-500 text-white flex flex-col items-center py-4 gap-6">
    <a routerLink="/" class="cursor-pointer font-medium text-lg tracking-wide">Locations</a>
    <a routerLink="/workscope" class="cursor-pointer font-medium text-lg tracking-wide">Workscopes</a>
    <a routerLink="/logs" class="cursor-pointer font-medium text-lg tracking-wide">Logs</a>
  </div>
</nav>
